
.container {

}

img{
    /*max-width: 100%;*/
}

.row{
    padding-left: 72px;
}

.menu .menu-bar ul{
    margin-left: 40px;
}

.header-right-item-text{
    padding-left: 45px;
}

.header-right-item-text h6{
    font-size: 12px;
    color: #2e2d25;
}

.header-right-item-text p{
    color: #2e2d25;
    font-weight: 300;
    font-size:10px;
}

.header-right-item{
    margin-right: 60px;
    padding-right: 65px;
}

.menu-bar {
    height: 58px;
    width: 100%;
    background-color: #251d20;
    padding-right: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.active {
    background-color: #e12717;
}

.menu-bar ul li:hover {
    transition: 0.5s;
    background-color: #e12717;
}

.menu{
    letter-spacing: -5px;
}

.menu .menu-bar ul li {
    padding: 15px 30px;
    height: 58px;
    list-style: none;
    display: inline-block;
    color: #FFFFFF;
    background-clip: border-box;
    letter-spacing: 0px;
}

.menu .menu-bar ul li a{
    color: #FFFFDB;
    text-decoration: none;
}

.menu .search input::placeholder{
    color: white;
    opacity: 50%;
}

.menu .search input{
    padding: 1px 2px 1px 2px;
    background-color: #e12717;
    color: white;
    border: none;
}

.menu .search input:focus{
    outline: 0px;
    outline-style: none;
}

.menu .search button {
    border: none;
    background-color: #e12717;
}

.menu .search{
    margin-bottom: 15px;
    margin-top: 8px;
    margin-left: 50px;
    background-color: #e41e24;
    border-radius: 20px;
    color: white;
    border-color:#e41e24 ;
    padding: 6px;
}

/*css for footer*/

.footer{
    height: 378px;
    background-color: #F1F1F1;
    position: relative;
}

.img-logo{
    margin-top: 48px;
    margin-left: 120px;
}

.footer-content{
    margin-top: 48px;
}

.ic-footer{
    color: #e12717;
}

.footer-content p{
    font-size: 12px;
    color: #393939;
}

.footer-content li{
    font-size: 12px;
    color: #393939;
}

.footer-content hr{
    height: 3px;
    color: #F80000;
    background-color: #F80000;
    border: none;
}

.footer-quick-link{
    margin-left: 130px;
}

.footer-signup{
    margin-left: 110px;
}

.footer-content form input{
    border-style: none;
    height: 44px;
    width: 200px;
}

.footer-content form{
    height: 48px;
    width: 294.8px;
    border-color: #e12717;
    border-style: solid;
}

.footer-content form input:focus{
    border-style: none;
    outline: 0px;
    outline-style: none;
}

.btn-subscribe{
    border-style: none;
    background-color: #e12717;
    border-color: #e12717;
    width: 90px;
    height: 45px;
}

.footer-bottom{
    height: 78px;
    background-color: #E41E24;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-bottom a{
    color: white;
    font-weight: bold;
}

.footer-bottom p{
    font-size: 12px;
    color: white;
    text-align: center;
}

.stay-connected{
    margin-top: 48px;
}

.footer-signup a{
    margin-left: 10px;
    color: white;
}

.footer-signup .facboek{
    color: white;
    border: 2px solid #2065ac;
    border-radius: 50%;
    background-color: #2065ac;
    width: 28px;
    height:28px;
    padding: 3px;
    text-align: center;
}

.footer-signup .google{
    font-size: 16px;
    color: white;
    border: 1px solid #f03a27;
    border-radius: 50%;
    background-color: #f03a27;
    display: inline-block;
    width: 25px;
    height:25px;
    padding: 3px;
    text-align: center;
}

.footer-signup .instagram{
    text-align: center;
    color: white;
    border: 1px solid #6e482d;
    border-radius: 50%;
    background-color: #6e482d;
    display: inline-block;
    padding: 3px;

}
.footer-signup .youtube{
    text-align: center;
    color: white;
    border: 1px solid #d00000;
    border-radius: 50%;
    background-color: #d00000;
    display: inline-block;
    padding: 3px;
}

/*css for about page*/
.container .para{
    margin-top: 80px;
    font-size: 13px;
}

.container .content-right{
    margin-top: 80px;
}

.about-item ul{
    list-style: none;
}

.about-item ul li i{
    color: white;
    padding: 2px;
    margin-right: 8px;
    font-size: 10px;
    border-radius: 50%;
    background-color: #e12717;
}

.about-item ul li {
    padding: 10px 20px;
}

/*css for project page*/

.project-content{
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 40px;
}

/*css for contact us page*/

.contact-info{
    list-style: none;
    margin-top: 24px;
}
.contact-info li i {
    margin-right: 8px;
}

.contact-info li span{
    margin-left: 10px;
}

.info input{
    border: none;
    border-bottom: 2px solid #e1e1e1;
}

.info input:focus{
    outline: 0px;
    outline-style: none;
}

.info span{
    color: #B5B5BC;
}

.info .info-item{
    padding-right: 15px;
    margin-right: 15px;
}

.info .submit{
    background-color: #e51e25;
    width: 400px;
    margin-top: 30px;
    color: white;
    border: none;
    height: 45px;
    margin-bottom: 100px;
}

.info-request{
    width: 400px;
}

/*css for home page*/

.home-menu-left{
    margin-left: 40px;
}

.home-menu-left ul{
    list-style: none;
    height: 675px;
    width: 286px;
    padding: 15px;
    margin-left: 10px;
    border: 1px dotted #e4e4e4;
    box-shadow: 0px 0px 4px 0px #764c4c9e;
}

.home-menu-left ul li{
    padding-left: 5px;
    padding-top: 9px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #e4e4e4;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.home-menu-left ul li:hover{
    background-color: #e51e25;
    transition: 0.8s;
    margin-right: -20px;
    margin-left: -20px;
    font-weight: 500;
    color: white!important;
}

.home-menu-left ul li a:hover{
    color: white;
}

.home-menu-left ul li i{
    color: #EA6354;
    padding-right: 10px;
    position: absolute;
    right: 0;
}

.home-menu-left ul li a{
    color: #5F6368;
}

.product{
    margin-right: 20px;
    margin-bottom: 20px;
}

.product a {
    color: #636363;
}

.product .image{
    background-color: #F5F5F5;
    padding: 20px;
    height: 200px;
    width: 200px;
}

.product_detail .image {
    background-color: #F5F5F5;
    padding: 20px;
    height: 200px;
    width: 200px;
    margin-top: 100px;
}

.product i {
    color: #F6B355;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.product .btn-add{
    color: #ADADBB;
    background-color: #EBEBEB;
    margin-top: 15px;
    margin-right: 3px;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10px;
}

.home-product-name{
    font-size: 10pt;
    font-weight: 300;
}

.home-content-left{
    position: relative;
}

.img2{
    position: absolute;
    top: 70px;
    left: 18px;
}

.img3 {
    position: absolute;
    top: 2%;
    left: 0;
}

.img4 {
    position: absolute;
    bottom: 280px;
    left: 35px;
}

.home-content-left a{
    position: absolute;
    left: 70px;
    bottom: 160px;
    padding: 8px 15px;
    color: #B1B1B1;
    border-radius: 15px;
    background-color: #e51e25;
    margin-right: 5px;
}

.home-content-left i{
    margin-left: 10px;
}

.home-row{
    width: 100%;
    text-align: center;
}

.home-view-all{
    margin-top: 10px;
    padding: 8px 15px;
    color: #B1B1B1;
    border-radius: 15px;
    background-color: #e51e25;
    margin-right: 5px;
    display: inline-block;
}

.img_class1{
    margin-top: 60px;
    position: relative;
    float: left;
}
.img10{
    position: absolute;
    top: 2px;
    left: 5px;
}
.img11{
    position: absolute;
    top: 30%;
    left: 15px;
}

.img_class2{
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.img13{
    position: absolute;
    top: 20%;
    left: 10%;
}

.img14{
    position: absolute;
    top: 40%;
    left: 66%;
}

.img15{
    position: absolute;
    top: -30%;
    left: 64%;
}

.product-row{
    width: 100%;
    text-align: center;
}

.btn-read-more{
    color: #FFFFFF;
    background-color: #E51E25;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 3px;
    padding: 5px;
}

/*css for product detail*/

.social_media_face{
    color: white;
    background-color: #3a579a;
    padding: 4px;
    margin-right: 3px;
}

.social_media_twitter{
    color: white;
    background-color: #00abf0;
    padding: 4px;
    margin-right: 3px;
}
.social_media_google{
    color: white;
    background-color: #ea4335;
    padding: 4px;
    margin-right: 3px;
}
.social_media_pinterest{
    color: white;
    background-color: #cd1c1f;
    padding: 4px;
}

.btn-enquiry {
    color: #FFFFFF;
    background-color: #cd1c1f;
    margin-top: 15px;
    margin-right: 3px;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10px;
}